models/
output/
*vscode/

# Data
/data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.py[cod]
*$py.class
